*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.img{
    height: 20%;
    width: 100%;
}
.texto{
    justify-content: center;
    align-items: center;
}
.badge{
  
    height: 2.5rem;
    width: 20rem;
}
.final{
     justify-content: end;

}
.texto{
    height: 100em;
}
.ul{
    display: block;
    list-style: none;
}